@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 220, 187);
    overflow: hidden;
    height: 100vh;
}

form {
    border-radius: 20px;
}

.wrapper {

    text-align: center;
    padding: 2rem;
    border-radius: 20px;
}

.titolo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
}

.risultato {

    background-color: white;
    width: 30%;
    margin: 0 auto;
    margin-top: 20%;
}

h3 {
    margin-top: 40px;
    filter: blur(20px);
    transition: 0.5s;
    position: relative;
    z-index: 199;
}

h3:hover {

    filter: blur(0);

}

.shhh {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
}

.mano1 {
    width: 60%;
    position: absolute;
    bottom: 20%;
    right: -80px;
    transform-origin: right center;
    animation: grow 4s ease infinite;

}

@keyframes grow {



    25% {
        transform: rotate(-45deg);
    }



    75% {
        transform: rotate(45deg);
    }


}

.mano2 {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: -150px;
    z-index: 10;
    animation: point 2s ease-in-out infinite;

}


@keyframes point {

    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    }
}